//variables de colores de la pagina 

$colorPrincipal: rgb(0, 0, 0);
$colorSecundario:#198754;
$colorTerciario:rgba(73, 69, 69, 0.85);
$colorSpan:rgb(73, 255, 41);
$colorEnlaces:rgb(238, 238, 238);
$colorLetras:rgb(255, 255, 255);
$colorBordes:rgb(51, 222, 29);
$colorBotonC: rgb(45, 208, 45);
$colorBotonV:rgb(211, 36, 36);